.marquee {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.marquee img {
  display: inline-block;
  animation: marquee 6s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-109%);
  }
}
.lips {
  width: 170px;
  height: 170px;
  background: #2382aa56;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.home_blocks {
  display: flex;
  gap: 50px;
  overflow: auto;
}
.home_block {
  width: 320px;
  height: 420px;
  padding: 40px 20px 0px 25px;
  border: solid 3px #dedede;
  border-radius: 25px;
  box-shadow: 0 0 3px #dedede;
  position: relative;
}
.home_block h1 {
  font-size: 35px;
  color: #ff324b;
  margin: 20px 0;
}
.home_block h3 {
  letter-spacing: 1.3px;
  font-weight: 300;
}
.product {
  width: 280px;
  height: 70%;
}
.add {
  width: 23%;
  object-fit: cover;
  position: absolute;
  right: 30px;
  top: 240px;
  cursor: pointer;
}
